@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

:root {
  --background: #081534;
  --background2: #ffffff;
  --background-header-footer: #061129;
  --font-color: #000000;
  --font-color2: #ffffff;
  --button: #133a7c;
}

button {
  cursor: pointer;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background);
  color: var(--font-color2);
  text-align: center;
  padding: 16px 0;
  font-size: 24px;
  font-weight: bold;
  z-index: 1000;
}

.logo {
  color: var(--font-color2);
  font-size: 200%;
  font-style: italic;
}

.header-container {
  background-color: var(--background-header-footer);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-header-footer);
  color: var(--font-color2);
  text-align: center;
  padding: 8px 0;
  font-size: 14px;
  z-index: 1000;
}

body {
  background-color: var(--background);
  color: var(--font-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 32px;
}

.container {
  background-color: var(--background2);
  width: 90%;
  max-width: 1000px;
  height: 350px;

  border: 2px solid var(--background2);
  border-radius: 5px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}

.questions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.question {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.answers-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.answer:disabled {
  cursor: not-allowed;
}

.next-question {
  margin-top: 32px;
}

.button {
  background-color: var(--button);
  color: var(--font-color2);
  font-size: 16px;
  font-weight: bold;
  border: 0;
  border-radius: 6px;
  height: 48px;
  padding: 0 32px;

  transition: filter 0.1s;
}

.button:not(:disabled):hover {
  filter: brightness(0.8);
}

.final-message {
  font-size: 20px;
  text-align: center;
}

.final-message span {
  display: block;
  margin-top: 8px;
}

.hide {
  display: none;
}